<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Portland Housing and Airbnb</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/d3Style.css">

</head>

<body>
  <div class="jumbotron">
    <div class="row">
      <div class="col">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="d3landing.html">
            <h4>Home</h4>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="#">
                <h5>Location</h5>
              </a>
              <a class="nav-item nav-link" href="Price.html">
                <h5>Price</h5>
              </a>
              <a class="nav-item nav-link" href="Reviews.html">
                <h5>Reviews</h5>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <br>
 <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4 col-md-4">
          <div class="card" style="text-align: center; color:green">
            <div class="card-body">
              <h4>Price-trend</h4>
              <div id="chart2"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-md-4">
          <div class="card" style="text-align: center;color:green">
            <div class="card-body">
              <h4>Price by weekday</h4>
              <div id="chart3"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-md-4">
          <div class="card" style="text-align: center;color:green">
            <div class="card-body">
              <h4>Price-analysis</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="card">
              <div class="card-body">
                <h4>Price-analysis</h4>
                <hr>
            <h5><p> Price of airbnb has been increasing over the years in Portland OR. There seems to be seasonality. Saturdays are expensive compared to other week days</p></h5>
              </div>
            </div>
          </div>
          </div>
          </div>
    </div>

  <!-- Footer-->
  <div id="footer">

  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <!-- <script type="text/javascript" src="static/js/app1.js"></script> -->
  <script type="text/javascript" src="../static/js/app.js"></script>


</body>

</html>